@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
  margin: 0;
  padding: 0;
}

/* Optional: Make Links More Readable */
a {
  cursor: pointer;
}